$primary-color: #9356DC; 
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$tertiary-color2: #46917e;
$hover: #9256dc04; /*survol des boutons principaux*/
$gris: rgb(248, 247, 247); /*(gris clair background intro et main)*/
$gris2: #bebdbd5e;/*(gris localisation clair background)*/
$gris3:  rgb(37, 36, 36);/*gris foncé du footer*/
$shadow1: #e7e7e7; /*ombre*/
$shadow2: gray; /*ombre plus foncée au survol*/
