@import 'couleurs';

/*Header*/

header {
    display: flex;
    justify-content: center;
    position: relative;
}

.header__logo img {
    width: 200px;
    height: 40px;

}
/*Titre*/
h1
{
    font-family: 'Shrikhand', cursive;
    font-size: 30px;
    font-style: unset;

}
h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

h4, p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin: 0px;
}
.menu {
    border-radius: 40px 40px 0 0; 
    background-color: $gris;
    position: relative;
    width: 100%;
    bottom: -200px;
    
    
    &__img {
        width: 100%;
        height: 300px;
        object-fit: cover; 
        position: absolute;
        
    }
    &__titre {
        display: flex;
        justify-content: space-between;
        font-size: 28px;
        align-items: center;
        cursor: pointer;
        margin: 20px;
        
    }
    .far:hover {
        background-color: linear-gradient(#9356dc,#323031);
    }
}
/*Entree*/

.entree {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    font-size: 20px;
    margin: 20px;

    &__titre {
        border-bottom: solid #99E2D0;
        max-width: 43px;
        padding-bottom: 5px;
        margin: 20px;
    }

    &__txt {
        padding: 10px;
        cursor: pointer;
    }

    &__detail {
        
        display: flex;
        justify-content: space-between;
        font-size: 18px;
    }

    .check {
        display: flex;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        font-size:22px;
        color:white;
        background-color: #99E2D0;
        height:100%;
        flex-wrap: wrap;
    }
}
.entree__txt:hover .check
{
    display:flex;
    font-size:22px;
    color:white;
    background-color: #99E2D0; 
    cursor: pointer;
    justify-content: center;
    align-items: center;
    z-index:15;
    height:100%; min-height:69px;
    max-width:58px;width:100%;
    border-bottom-right-radius: 20px;border-top-right-radius: 20px;
    flex-wrap: wrap;

    margin-right: 0px;
	/*transition-duration: 5.5s;*/transition-duration: 0.5s;
	transition-timing-function: ease;
}
/*Footer*/
footer {
    background-color: $gris3;
    color: white;

    h4 {
        font-family: 'Shrikhand', cursive;
        font-size: 22px;  
    }

    &__text a {
        text-decoration: none;
        color: white; 
    }

}