@import 'couleurs';

/*Header*/

header {
    display: flex;
    justify-content: center;
    position: relative;

}

.header__logo img {
    width: 200px;
    height: 40px;

}
/*Titre*/
h1
{
    font-family: 'Shrikhand', cursive;
    font-size: 30px;

}
h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

h4, p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0px;
}
.menu {
    border-radius: 40px 40px 0 0; 
    background-color: $gris;
    bottom: -200px;
    width: 100%;
    
    
    
    &__img {
        width: 100%;
        height: 280px;
        object-fit: cover;
        background: url(images/lapalette.jpg) no-repeat; 
    }
    &__titre {
        display: flex;
        justify-content: space-between;
        font-size: 28px;
        align-items: center;
        cursor: pointer;
        margin: 20px;
        
    }
}
.fa-heart:hover {
    color: linear-gradient(#9356dc, #FF79DA);
}

/*Entree*/

.entree, .plat, .dessert {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 8px 8px 5px #e7e7e7;
    border-radius: 15px;
    font-size: 20px;
    margin: 20px;

    &__titre {
        border-bottom: solid #99E2D0;
        max-width: 43px;
        padding-bottom: 5px;
        margin: 20px;
    }

    &__txt {
        padding: 10px;
        cursor: pointer;
    }

    &__sous {
        padding: 5px 0 5px 0;
    }

    &__detail {
        
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        padding: 5px 0 5px 0;
    }

    .check {
        color:white;
        background-color: #99E2D0;
        justify-content: center;
        display: none;
        height: 100%;
        width: 20%;
    }
    &__txt:hover .check{
        display: flex;
        justify-content: center;
        position: relative;
    }
}

/*Footer*/
footer {
    background-color: $gris3;
    color: white;
    width: 100%;

    h4 {
        font-family: 'Shrikhand', cursive;
        font-size: 26px;
        margin: 20px;  
    }

    a {
        text-decoration: none;
        padding: 20px;
        color: white;
        font-family: 'Roboto', sans-serif;
    }
    .fas {
        padding-right: 10px;
    }

    &__text {
        padding: 20px;
        
    }

}