/*General*/
h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  margin: 20px 10px 10px 10px;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

/*Header*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__logo img {
  width: 200px;
  height: 40px;
  margin: 10px;
}

/****Recherche****/
.search {
  background-color: #bebdbd5e;
}

.search__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

.search__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  color: black;
  font-weight: bold;
  font-size: 16px;
  margin-left: 20px;
  width: 40%;
}

.intro {
  background-color: #f8f7f7;
  text-align: center;
}

.intro__txt {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
  display: -webkit-inline-box;
}

.intro__btn {
  border-radius: 50px;
  width: 250px;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#FF79DA));
  background: linear-gradient(#9356dc, #FF79DA);
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro__btn a {
  text-decoration: none;
  color: white;
  padding: 0px;
}

/****Fonctionnement****/
.list__item {
  background-color: #f8f7f7;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 30px;
  padding: 10px;
  font-size: 20px;
  position: relative;
}

.list__item .fas {
  padding: 20px 20px 20px 30px;
}

.list__item__btn {
  border-radius: 100%;
  padding: 10px 10px 5px 10px;
  background-color: #9356DC;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  position: absolute;
  left: -10px;
}

/****Main****/
#Restaurants {
  background-color: #f8f7f7;
}

#Restaurants .card {
  border-radius: 20px;
  background-color: white;
  border: 0px solid white;
  margin: 20px;
}

#Restaurants .card__new {
  position: relative;
}

#Restaurants .card .new {
  position: absolute;
  background-color: #99E2D0;
  top: 10px;
  right: 10px;
  color: #46917e;
  padding: 10px;
  font-size: 16px;
  font-family: roboto;
}

#Restaurants .card__img {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0 0;
}

#Restaurants .card__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#Restaurants .card p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin: 8px 0px 5px 10px;
}

#Restaurants .card__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 22px;
}

#Restaurants .card .far:hover {
  color: linear-gradient(#9356dc, #FF79DA);
}

/*Footer*/
footer {
  background-color: #252424;
  color: white;
}

footer h4 {
  font-family: 'Shrikhand', cursive;
  font-size: 22px;
}

footer__text a {
  text-decoration: none;
  color: white;
}
/*# sourceMappingURL=styles.css.map */