@charset "UTF-8";
/*survol des boutons principaux*/
/*(gris clair background intro et main)*/
/*(gris localisation clair background)*/
/*gris foncé du footer*/
/*ombre*/
/*ombre plus foncée au survol*/
/*General*/
body {
  margin: 0;
  padding: 0;
  background: white;
  height: 100vh;
}

/*Loader 3s**/
.loader {
  background: white;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  pointer-events: none;
  /*pour résoudre le problème des liens*/
  opacity: 1;
  z-index: 15;
  animation: fade 400ms 2s forwards;
  -webkit-animation: fade 400ms 2s forwards;
}

@-webkit-keyframes fade {
  to {
    opacity: 0;
  }
}

@keyframes fade {
  to {
    opacity: 0;
  }
}

.loader div {
  background: #9356DC;
  width: 16px;
  height: 32px;
  margin-left: 10px;
  animation: loader 1s infinite;
  -webkit-animation: loader 1s infinite;
}

@-webkit-keyframes loader {
  50% {
    height: 64px;
  }
}

@keyframes loader {
  50% {
    height: 64px;
  }
}

.loader div:nth-child(1) {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-animation-delay: -0.40s;
  animation-delay: -0.40s;
}

.loader div:nth-child(2) {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-animation-delay: -0.20s;
  animation-delay: -0.20s;
}

.loader div:nth-child(3) {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(#9356DC, #FF79DA);
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  margin-bottom: 0px;
  margin-left: 30px;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 10px;
}

/*Header*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__logo img {
  width: 200px;
  height: 40px;
  margin: 10px;
  cursor: pointer;
}

/****Recherche****/
.search {
  background-color: #bebdbd5e;
}

.search__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  color: black;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.intro {
  background-color: #f8f7f7;
  text-align: center;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__txt {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
  display: -webkit-inline-box;
}

.intro__btn {
  border-radius: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(#9356DC, #FF79DA);
  padding: 10px;
  -webkit-box-shadow: 5px 5px 5px #e7e7e7;
          box-shadow: 5px 5px 5px #e7e7e7;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

.intro__btn:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 5px 5px 5px gray;
          box-shadow: 5px 5px 5px gray;
}

.intro__btn a {
  text-decoration: none;
  color: white;
  padding: 0px;
}

/****Fonctionnement****/
.list__item {
  background-color: #f8f7f7;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 30px;
  padding: 10px;
  font-size: 20px;
  position: relative;
  -webkit-box-shadow: 5px 5px 5px #e7e7e7;
          box-shadow: 5px 5px 5px #e7e7e7;
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  text-decoration: none;
  color: black;
}

.list__item:hover {
  -webkit-box-shadow: 5px 5px 5px gray;
          box-shadow: 5px 5px 5px gray;
  background-color: #f73bc827;
  color: #9356DC;
  font-weight: bold;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.list__item:hover .fas {
  color: #9356DC;
}

.list__item .fas {
  padding: 20px 20px 20px 30px;
}

.list__item__btn {
  border-radius: 100%;
  padding: 10px 10px 5px 10px;
  background-color: #9356DC;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  position: absolute;
  left: -10px;
}

/****Main****/
#Restaurants {
  background-color: #f8f7f7;
  padding-bottom: 50px;
}

#Restaurants h1 {
  padding: 70px 20px 10px 20px;
}

#Restaurants .card {
  border-radius: 20px;
  background-color: white;
  border: 0px solid white;
  margin: 20px;
  -webkit-box-shadow: 8px 8px 5px #e7e7e7;
          box-shadow: 8px 8px 5px #e7e7e7;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

#Restaurants .card:hover {
  -webkit-box-shadow: 5px 5px 5px gray;
          box-shadow: 5px 5px 5px gray;
  font-weight: bold;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#Restaurants .card__new {
  position: relative;
}

#Restaurants .card .new {
  position: absolute;
  background-color: #99E2D0;
  top: 10px;
  right: 10px;
  color: #46917e;
  padding: 10px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

#Restaurants .card__img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0 0;
}

#Restaurants .card__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#Restaurants .card__txt {
  margin: 15px;
}

#Restaurants .card p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin: 0px;
  padding-bottom: 5px;
}

#Restaurants .card__coeurs {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 28px;
  cursor: pointer;
  margin: 20px;
}

#Restaurants .card .far {
  position: absolute;
}

#Restaurants .card .fas {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  -webkit-transform: scale(0.25);
          transform: scale(0.25);
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

#Restaurants .card .fas:hover {
  -webkit-animation: 400ms forwards hearthover;
  animation: 400ms forwards hearthover;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@-webkit-keyframes hearthover {
  100% {
    opacity: 1;
  }
}

@keyframes hearthover {
  100% {
    opacity: 1;
  }
}

/*Footer*/
footer {
  background-color: #252424;
  color: white;
  width: 100%;
}

footer h4 {
  font-family: 'Shrikhand', cursive;
  font-size: 20px;
  padding: 20px 20px 20px 10px;
  margin: 0px;
}

footer a {
  text-decoration: none;
  padding: 10px;
  color: white;
  font-family: 'Roboto', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .fas {
  padding-right: 10px;
}

@media screen and (min-width: 768px) {
  .header__logo img {
    width: 300px;
    height: 60px;
    margin: 10px;
    cursor: pointer;
  }
  h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 40px;
    font-size: 32px;
  }
  p {
    font-size: 20px;
  }
  .intro {
    gap: 30px;
  }
  .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .list__item {
    width: 33%;
  }
  .Card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .card {
    width: 25%;
  }
}
/*# sourceMappingURL=styles.css.map */